
{% extends "base.html" %}
{% block app_content %}
 {{ form.csrf_token }}

   {{ bokeh_js|safe}}
  <h1>Fuzzy search</h2>

      <form class="form-group" action="" method="post">
          <p>
            {{ form.hidden_tag() }}
              {{ form.searchstring.label }}
              <br>
              {{ form.searchstring(size=64) }}
          </p>
          <br>
          <button type="button" class="btn">{{ form.submit() }}</button>
      </form>

      <form class="form-group" action="" method="post">
          <label class="checkbox-inline">
              <input type="checkbox" value="">{{ form.fiction() }} {{ form.fiction.label }}
          </label>
          <label class="checkbox-inline">
              <input type="checkbox" value="">{{ form.history() }} {{ form.history.label }}
            </label>
      </form>





      <div class="row">
          <div class="col-md-4">
      <!-- <div> -->
              <h3>
                  {% for res in strout %}
                    <a href={{ res[1] }} target="_blank">  {{ res[0] }}</a>
                      <br>
                  {% endfor %}
              </h3>
          </div>
          <div class="col-md-8">
              {{ div|safe }}
              {{ script|safe }}
          </div>
      </div>

      <!-- <form method="post">
          <h3>Print {{ N_out }} results</h3>
          <input type="submit" value="more" >
      </form> -->

{% endblock %}
